

<div class="container">
    <div class="row">
        <h1 style="color:dodgerblue; font-family:verdana; font-size:300%; text-align:center;">Film Challenge</h1>

        <form id="scoreboardForm" style="text-align:center" @*action="@Url.Action("Index2", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)"*@>
            <h1 style="color:dodgerblue; font-family:verdana; " text-align:center">What's your name?</h1>
            <h3 style="color:gray; font-family:verdana; " text-align:center">(We're keeping score)</h3>
            <br>

            <div class="form-group">
                @*<label class="col-sm-6 control-label">First Name</label>*@
                <div class="col-sm-6 col-sm-offset-4"><input type="text" id="firstName" name="FirstName" placeholder="Diego" class="form-control" /></div>
                @*<input type="text" class="form-control" placeholder="William" name="firstName" id="firstName" />*@
            </div>
            <br />
            <br />
            
           

            <div class="form-group">
                @*<label class="col-sm-6 control-label">Last Name</label>*@
                <div class="col-sm-5 col-sm-offset-5"><input type="text" id="firstName" name="LastName" placeholder="Maradona" class="form-control" /></div>
                @*<input type="text" class="form-control" placeholder="Shakespeare" name="lastName" id="lastName" />*@
            </div>

            <br />
            <br />
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="button" class="btn-primary" name="Start" id="submit">Start</button>
                </div>
            </div>


        </form>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">

        @*
            var updateId = @Model.Item;
        *@

        $(document).ready(function () {
            console.log("All systems are clear, Launch Control")
            $('#submit').on('click', scoreboardFormSubmit);
        });




        var scoreboardFormSubmit = function () {
            console.log("fired to scoreboard!")
            var myData = $("#scoreboardForm").serialize();
            insert(myData, onPostSuccess, onPostError);
            //window.location.replace("/Home/Index3");
        }

        var insert = function (data, onPostSuccess, onPostError) {
            //var myData = $("#scoreboardForm").serialize();
            var url = "/api/scoreboard/";
            var settings = {
                cache: false
                , contentType: "application/x-www-form-urlencoded; charset=UTF-8"
                , data: data
                , dataType: "json"
                , success: onPostSuccess
                , error: onPostError
                , type: "POST"
            }

            $.ajax(url, settings);
        }


        onPostSuccess = function (data) {
            console.log(data.item);
            updateId = data.item;
        }
        onPostError = function (jqxhr) {
            var errorMessage = "Error adding Player:" + jqxhr.responseJSON.message;
        }

    </script>
}