

<div class="container-fluid theException">
    <div class="row">
        <div class="clearBackground">
            <div class="col-sm-4">
                <h1 style="color:beige; font-family:verdana; font-size:500%; text-align:right;">Film Challenge</h1>
            </div>
        </div>
    </div>

    <div class="clearBackground">
        <div class="row">
            <div class="col-sm-6">
                <h1 style="color:moccasin; font-family:verdana; text-align:right">Get ready to smile for the camera</h1>
            </div>
        </div>
    </div>

    <div class="clearBackground">
        <div class="row">
            <div class="col-sm-4">
                <h3 style="color:firebrick; font-family:verdana; text-align:center">Your results will be sent to our scoreboard</h3>
            </div>
        </div>
    </div>


    <div class="clearBackground">
        <div class="row">
            <div class="col-sm-6">
                <center><img src="~/Images/TheException-webcamPhoto.png" /></center>
            </div>
        </div>
    </div>

    @*------------This section is left in because all the back-end wiring are connected to these two inputs, firstName and lastName-----------------------*@
    <div class="clearBackground">
        <div class="row">
            <div class="col-sm-6">
                <form class="form-horizontal" id="scoreboardForm" style="text-align:center">
                    <h1 style="color:moccasin; font-family:verdana; " text-align:center">Please include your name</h1>
                    
                    <br>
                    <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-5"><input type="text" id="firstName" name="FirstName" placeholder="Diego" class="form-control" /></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-5"><input type="text" id="firstName" name="LastName" placeholder="Maradona" class="form-control" /></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-5">
                            <button type="button" class="btn-btn-primary" name="Start" id="submit">Start</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @*----------------------------------------------------------------------------------------------------------------------------------------------------*@
    <div class="clearBackground">
        <div class="row">
        <div class="col-sm-6">
            <center><input type="image" img src="~/Images/ATT Dan Created.gif" /></center>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <br />
</div>


@section Scripts {
    <script type="text/javascript">

        @*
            var updateId = @Model.Item;
        *@

        $(document).ready(function () {
            console.log("All systems are clear, Launch Control")
            $('#submit').on('click', scoreboardFormSubmit);
        });

        var scoreboardFormSubmit = function () {
            console.log("fired to scoreboard!")
            var myData = $("#scoreboardForm").serialize();
            insert(myData, onPostSuccess, onPostError);
            //window.location.replace("/Home/Index3");
        }

        var insert = function (data, onPostSuccess, onPostError) {
            //var myData = $("#scoreboardForm").serialize();
            var url = "/api/scoreboard/";
            var settings = {
                cache: false
                , contentType: "application/x-www-form-urlencoded; charset=UTF-8"
                , data: data
                , dataType: "json"
                , success: onPostSuccess
                , error: onPostError
                , type: "POST"
            }
            $.ajax(url, settings);
        }

        onPostSuccess = function (data) {
            //console.log(data.item);
            console.log(data);
            var updateId = data.Item;
            window.location.href = "/Home/Slots/" + updateId;
        }

        onPostError = function (jqxhr) {
            var errorMessage = "Error adding Player:" + jqxhr.responseJSON.message;
        }

    </script>
}