
@{
    ViewBag.Title = "Index2";
}

<h1 style="color:white; font-family:verdana; font-size:300%; text-align:center;">Film Challenge</h1>
<h3 style="color:white; font-family:verdana; font-size:200%; text-align:center;">Try your luck</h3>

<h3 style="color:white; font-family:verdana; font-size:200%; text-align:center;">Try your luck</h3>