

<style>
    body {
        background-image: url("/Images/9-1 WELCOME SCREEN BACKGROUND.png");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    #headerStretch {
        max-height: 2000px;
        max-width: 750px;
    }

    

</style>

<div>


    <div class="col-sm-12">
        <br /><br />
        <center><input type="image" img src="~/Images/8-30 flicktionary logo v5 (1).png" id="headerStretch" /></center>
        @*<h1 style="color:beige; font-family:verdana; font-size:500%; text-align:right;">Film Challenge</h1>*@
    </div>

    
    <div class="col-sm-2"></div>

    <div class="col-sm-4 offset-col-sm-1" id="lookGreat" style="border-radius:5%; margin:0px; padding:0px; border-style:solid; border-color:#00a6d6">
    @*<div class="col-sm-4" id="lookGreat" style="border-radius: 5%; box-shadow: 8px 8px 60px #00a6d6">*@
        <center><h1 id="coundown"></h1></center>
        <center><video id="video" width="628" height="480" autoplay style="border-radius:5%; display:none"></video></center>
        @*<center><canvas id="canvas" width="640" height="480"></canvas></center>*@
        <canvas style="border-radius:5%;" id="canvas" width="628" height="480"></canvas>
    </div>

    

    @*<div class="col-sm-4" id="userPhoto">
        <center><canvas style="border-radius: 5%; box-shadow: 8px 8px 60px grey" id="canvas" width="640" height="480"></canvas></center>
    </div>*@

    <div class="col-sm-4 clearBackground" id="inputDiv">
        <h1 style="color:#00629b; font-family:'ATT Aleck Sans'; text-align:center">Smile for the camera</h1>
            <br /></>
        <h3 style="color:#00a6d6; font-family:'ATT Aleck Sans'; text-align:center">Please enter your name:</h3>

        <div class="form-group">
            <center><input type="text" class="form-control" id="userName" /></center>
                <br />
            <h3 style="color:#00629b; font-family:'ATT Aleck Sans'; text-align:center"><strong>Tap the globe</strong></h3>

            <center><input type="image" img src="~/Images/ATT Dan Created.gif" id="submit" class="btn-btn-primary" /></center>
        </div>
    </div>@*Please enter your name*@







    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <br />
</div>


@section Scripts {
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.19.0.min.js"></script>
    <script type="text/javascript">
        // Elements for taking the snapshot
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var video = document.getElementById('video');
        var randomNumber = Math.floor(Math.random() * 1000000000);;

        // Get access to the camera!
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            // Not adding `{ audio: true }` since we only want video now
            navigator.mediaDevices.getUserMedia({ video: true }).then(function (stream) {
                video.src = window.URL.createObjectURL(stream);
                video.play();
            });
        }

        // Trigger photo take and send to AWS
        $(document).ready(function () {
            $("#submit").on("click", createUser)
        })

        var createUser = function () {
            $("#inputDiv").show();
            $("#video").hide();
            $("#lookGreat").show();
            $("#countdown").text("3");
            setTimeout(function () {
                $("#countdown").text("2")
                setTimeout(function () {
                    $("#countdown").text("1")
                    setTimeout(function () {
                        $("#countdown").text("")

                        context.drawImage(video, 0, 0, 640, 480);
                        $("#video").hide();

                        var dataURL = canvas.toDataURL('image/jpeg', 1);
                        var blob = dataURItoBlob(dataURL);
                        var fd = new FormData(document.forms[0]);

                        AWS.config.update({
                            "accessKeyId": "",
                            "secretAccessKey": "",
                            "region": "us-east-2"
                        });
                        var s3 = new AWS.S3({ signatureVersion: 'v4' });
                        var params = {
                            Bucket: 'webcam-photos',
                            Key: randomNumber.toString(),
                            ContentType: 'image/jpeg',
                            Body: blob,
                            ACL: 'public-read'
                        };
                        s3.putObject(params, function (err, res) {
                            if (err) {
                                console.log("aws error", err)
                            } else {
                                console.log("aws success")
                                insert();
                            }
                        });
                    }, 1000)
                }, 1000)
            }, 1000)
        }

        var insert = function () {
            var url = "/api/scoreboard/";
            var settings = {
                cache: false
                , contentType: "application/x-www-form-urlencoded; charset=UTF-8"
                , data: "imageURL=https://s3.us-east-2.amazonaws.com/webcam-photos/" + randomNumber + "&name=" + $("#userName").val()
                , dataType: "json"
                , success: function (response) {
                    console.log("post success");
                    setTimeout(function () { window.location.href = "/home/slots/" + response.Item + "/" + randomNumber }, 5000)
                }
                , error: function (response) {
                    console.log("post error", response);
                }
                , type: "POST"
            }
            $.ajax(url, settings);

            // Add code to display message for going to next screen
            // currently just removes some elements for a visual effect, needs polishing

            $(".clearBackground").remove();
            $("#lookGreat").html("<br /><br /><br /><center><h1><strong>Wow, you've got a nice look!</strong></h1></center><br /><center><h1>Now get ready for game time</h1></center>")
        }

        var dataURItoBlob = function (dataURI) {
            // convert base64/URLEncoded data component to raw binary data held in a string
            var byteString;
            if (dataURI.split(',')[0].indexOf('base64') >= 0)
                byteString = atob(dataURI.split(',')[1]);
            else
                byteString = unescape(dataURI.split(',')[1]);

            // separate out the mime component
            var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

            // write the bytes of the string to a typed array
            var ia = new Uint8Array(byteString.length);
            for (var i = 0; i < byteString.length; i++) {
                ia[i] = byteString.charCodeAt(i);
            }

            return new Blob([ia], { type: mimeString });
        }
    </script>
}
