@model TestDirecTV.Models.SlotsViewModel
@{
    ViewBag.Title = "Index3";
}

<style>
    body {
        /*background-image: url("/Images/Equals.png");*/
        background-image: url("/Images/Qs background screen 2 total png.png");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: contain;
    }

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
</style>

<div>
    <center><input type="image" img src="~/Images/ATT Dan Created.gif" /></center>

    <div class="row">

        <div class="col-sm-12"> 
        <h1 style="color:#00629b; font-family:'ATT Aleck Sans'; font-size:300%; text-align:right;">First Question</h1>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-sm-5">

        </div>
        <div class="col-sm-7">
            <div style="text-align:left; font-family:Verdana; color:#00a6d6; font-size:200%;"  id="questionContainer">
                <div id="question">
                </div>
                <br />
                <br />
                <div id="answerContainer">
                </div>
            </div>
        </div>

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<script type="text/template" id="template">

    <button type="button" class="answer" id=""></button>

</script>

<script>
    var userId = @Model.UserId;
    var questionSet = @Model.QuestionSet;
    var questions = [
        {
            question: "How many Bourne movies have been filmed?",
            answers: ["Four", "Five", "Six", "Seven"],
            correct: 1
        },
        {
            question: "How many points are awarded in an NFL Touchdown?",
            answers: ["2", "3", "6", "7"],
            correct: 2
        },
        {
            question: "Lisbon is the capital of what country?",
            answers: ["Morocco", "Czechia", "Portugal", "Turkey"],
            correct: 2
        },
        {
            question: "Which film did NOT win the Best Picture Oscar?",
            answers: ["Moonlight", "Spotlight", "The Revenant", "12 Years a Slave"],
            correct: 2
        }
    ]

    var pageQuestion = questions[questionSet - 1] // -1 turns questionSet number into index of questions array
    $(document).ready(function() {
        console.log(pageQuestion);
        loadQuestion(pageQuestion);
        $(".answer").on("click", doThings);
    })

    var loadQuestion = function(questionObject) {
        $("#question").text(questionObject.question)
        for (var i = 0; i < questionObject.answers.length; i++) {
            var currentAnswer = questionObject.answers[i];
            var $temp = $($("#template").html());
            $temp.text(currentAnswer);
            if (questionObject.correct == i) {
                $temp.addClass("correct")
            }
            $("#answerContainer").append($temp)
        }

    }

    var doThings = function () {
        var result = $(this).hasClass("correct")
        $("#questionContainer").empty()
        if (result == true) {
            put();
            $("#questionContainer").html("<h1>You're Right!!</h1>");
        }
        else {
            $("#questionContainer").html("<h1>Sorry...</h1>");
        }

        console.log("result", result)
        setTimeout(function(){ window.location.href = "/home/Q2/" + userId + "/" + questionSet }, 5000)
    }


    var put = function(){
        var url = "/api/scoreboard/score";
        var settings = {
            cache: false
            , contentType: "application/x-www-form-urlencoded; charset=UTF-8"
            , data: "Id=" + userId
            , dataType: "json"
            , success: function (data) {
                console.log("Put success")
            }
            , error: function (data) {
                console.log("Put error")
            }
            , type: "PUT"
        };
        $.ajax(url, settings);
    }
</script>
