@model TestDirecTV.Models.SlotsViewModel
@{
    ViewBag.Title = "Index3";
}

<div class="container-fluid blackcoatsDaughter">
    <center><input type="image" img src="~/Images/ATT Dan Created.gif" /></center>
    
    
    
    <div class="row">
        <div class="clearBackground">
            <div class="col-md-4">
                <h1 style="color:sandybrown; font-family:verdana; font-size:300%; text-align:center;">Third Question</h1>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="clearBackground">
            <div class="col-md-4">
                <div style="text-align:center; font-family:Verdana; color:#00629b; font-size:200%;" id="questionContainer">
                    <div id="question">
                    </div>
                    <br />
                    <div id="answerContainer">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<script type="text/template" id="template">
    
        <button type="button" class="answer" id=""></button>
    
</script>

<script>
    var userId = @Model.UserId;
    var questionSet = @Model.QuestionSet;
    var questions = [
        {
            question: "Star of Bourne?",
            answers: ["Matt Damon", "Morgan Freeman", "Christian Bale", "Hugh Jackman"],
            correct: 0
        },
        {
            question: "How many Superbowls have been played?",
            answers: ["49", "51", "56", "62"],
            correct: 1
        },
        {
            question: "Without the UK, how many countries make up the EU?",
            answers: ["23", "18", "32", "27"],
            correct: 3
        },
        {
            question: "Which film was awarded the most Oscars?",
            answers: ["The English Patient", "Titanic", "Gone With The Wind", "Forest Gump"],
            correct: 1
        }
    ]

    var pageQuestion = questions[questionSet - 1] // -1 turns questionSet number into index of questions array
    $(document).ready(function() {
        console.log(pageQuestion);
        loadQuestion(pageQuestion);
        $(".answer").on("click", doThings);
    })

    var loadQuestion = function(questionObject) {
        $("#question").text(questionObject.question)
        for (var i = 0; i < questionObject.answers.length; i++) {
            var currentAnswer = questionObject.answers[i];
            var $temp = $($("#template").html());
            $temp.text(currentAnswer);
            if (questionObject.correct == i) {
                $temp.addClass("correct")
            }
            $("#answerContainer").append($temp)
        }

    }

    var doThings = function() {
        var result = $(this).hasClass("correct")
        if (result == true){
            put(userId, onPutSuccess, onPutError);
        }

        console.log("result", result)
        setTimeout(function(){ window.location.href = "/home/Scoreboard/" }, 10000)
    }


    var put = function(onPutSuccess, onPutError){
        var url = "/api/scoreboard/score";
        var settings = {
            cache: false
            , contentType: "application/x-www-form-urlencoded; charset=UTF-8"
            , data: "Id=" + userId
            , dataType: "json"
            , success: onPutSuccess
            , error: onPutError
            , type: "PUT"
        };
        $.ajax(url, settings);
    }

    var onPutSuccess = function (data){
        console.log("Put success")
    }

    var onPutError = function (data){
        console.log("Put error")
    }
</script>