@model TestDirecTV.Models.SlotsViewModel

@{
    ViewBag.Title = "Q4";
}


<style>
    body {
        /*background-image: url("/Images/Qs background screen 2 total png.png");*/
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    #dykStretch4 {
        max-height: 2000px;
        max-width: 750px;
    }
</style>




<div class="row">
    <div class="col-sm-12">
        <h1 style="color:#00629b; font-family:'ATT Aleck Sans'; font-size:300%; text-align:center;">Fourth Question</h1>
    </div>
</div>

<br />
<br />
<br />

<div class="row">
    <div class="col-sm-4 col-sm-offset-1">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div style="text-align:left; font-family:'ATT Aleck Sans'; color:#00a6d6; font-size:200%;" id="questionContainer">
            <div id="question">
            </div>
            <br />
            <br />
            <div style="text-align:center; font-family:'ATT Aleck Sans'; color:#00a6d6; font-size:200%;" id="answerContainer">
            </div>
        </div>
    </div>
    <div class="col-sm-7">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <center><input type="image" img src="~/Images/ATT Dan Created.gif" /></center> @*This gif is smaller and less desireable but the one below it throws the page off*@
        @*<center><img src="~/Images/ATT Dan Created.gif"  /></center>*@

    </div>
</div>

<script type="text/template" id="template">

    @*<button type="button" class="answer" id=""></button>*@
    <button type="button" class="btn-group btn btn-info btn-lg answer" id=""></button>

</script>

<script>
    var userId = @Model.UserId;
    var questionSet = @Model.QuestionSet;
    var questions = [
        {
            question: "",
            answers: ["Girl Gifts", "Family Man", "The Exception", "Trespass Against Us"],
            correct: 1
        },
        {
            question: "",
            answers: ["Family Man", "The Forger", "Remember", "Enemy"],
            correct: 2
        },
        {
            question: "",
            answers: ["Trespass", "Enemy", "Family Man", "The Forger"],
            correct: 0
        }
    ]

    var backgroundImage = "url(/Images/Qbackgrounds/" + questionSet + "d.jpg)";
    $("body").css("background-image", backgroundImage)

    var pageQuestion = questions[questionSet - 1] // -1 turns questionSet number into index of questions array
    $(document).ready(function() {
        console.log(pageQuestion);
        loadQuestion(pageQuestion);
        $(".answer").on("click", doThings);
    })

    var loadQuestion = function(questionObject) {
        $("#question").text(questionObject.question)
        for (var i = 0; i < questionObject.answers.length; i++) {
            var currentAnswer = questionObject.answers[i];
            var $temp = $($("#template").html());
            $temp.text(currentAnswer);
            if (questionObject.correct == i) {
                $temp.addClass("correct")
            }
            $("#answerContainer").append($temp)
        }

    }

    var doThings = function() {
        var result = $(this).hasClass("correct")
        $("#questionContainer").empty()
        if (result == true) {
            put();
            $("#questionContainer").html("<h1>You're Right!!</h1>");
        }
        else {
            $("#questionContainer").html("<h1>Sorry...</h1>");
        }

        console.log("result", result)

        finish();
        setTimeout(function () {
            $("#questionContainer").html("<h1>Move on to the Leaderboard!!</h1>");
            setTimeout(function () {

                window.location.href = "/home/questions/"
            }, 5000)
        }, 3000)
    }


    var put = function(){
        var url = "/api/scoreboard/score";
        var settings = {
            cache: false
            , contentType: "application/x-www-form-urlencoded; charset=UTF-8"
            , data: "Id=" + userId
            , dataType: "json"
            , success: function (data) {
                console.log("Put success")
            }
            , error: function (data) {
                console.log("Put error")
            }
            , type: "PUT"
        };
        $.ajax(url, settings);
    }

    var finish = function () {
        var url = "/api/scoreboard/finished";
        var settings = {
            cache: false
            , contentType: "application/x-www-form-urlencoded; charset=UTF-8"
            , data: "Id=" + userId
            , dataType: "json"
            , success: function (data) {
                console.log("finished success")
            }
            , error: function (data) {
                console.log("finished error")
            }
            , type: "PUT"
        };
        $.ajax(url, settings);
    }
</script>