
@{
    ViewBag.Title = "Questions";
}



<div class="container-fluid enemy">
    <div class="row">
        <div class="clearBackground">
            <div class="col-sm-4">
                <h1 style="color:beige; font-family:verdana; font-size:500%; text-align:right;">Questions</h1>
            </div>
        </div>
    </div>

    <div class="clearBackground">
        <div class="row">
            <div class="col-sm-6">
                <h1 style="color:moccasin; font-family:verdana; text-align:right">Here are the questions your luck has served you.</h1>
            </div>
        </div>
    </div>

    <div class="clearBackground">
        <div class="row">
            <div class="col-sm-4">
                <h3 style="color:firebrick; font-family:verdana; text-align:center">Press the globe to get started.</h3>
            </div>
        </div>
    </div>


    @*<div class="clearBackground">
        <div class="row">
            <div class="col-sm-6">
                <center><img src="~/Images/TheException-webcamPhoto.png" /></center>
            </div>
        </div>
    </div>*@

    <div class="form-group">
        <div class="col-sm-6">
            <button type="button" class="btn-btn-primary" name="Start" id="submit">Start</button>
        </div>
    </div>

    <div class="clearBackground">
        <div class="row">
            <div class="col-sm-6">
                <center><input type="image" img src="~/Images/ATT Dan Created.gif" /></center>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <br />
</div>