@model TestDirecTV.Models.SlotsViewModel
@{
    ViewBag.Title = "Index2";
}

<link type="text/css" rel="stylesheet" href="~/css/slots.css" />
<link type="text/css" rel="stylesheet" href="~/css/template2.css" />




<div class="container-fluid">
    <div id="PageContainer" style="background-size:cover;">
        <div id="PageContainerInner">
            <!-- Just to be able to set the "won!" extra background -->

            <div id="slotMachineContainer">

                <div id="ReelContainer">
                    <div id="reel1" class="reel"></div>
                    <div id="reel2" class="reel"></div>
                    <div id="reel3" class="reel"></div>
                    <div id="reelOverlay"></div>
                </div>

                <div id="loggedOutMessage" style="display: none;">
                    <span class="large">Sorry, you have been logged off.</span><br />
                    <b>No bids</b> have been deducted from this spin, because you're not logged in anymore.
                    Please <a href="/login">login</a> and try again.
                </div>

                <div id="failedRequestMessage" style="display: none;">
                    <span class="large">Sorry, we're unable to display your spin because your connection to our server was lost. </span><br />
                    Rest assured that your spin was not wasted.
                    Please check your connection and <a href="#" onclick="window.location.reload();">refresh</a> to try again.
                </div>


                <div id="spinButton"></div>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>

            @*<div id="soundOffButton"></div>*@
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />


        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui-1.8.17.custom.min.js"></script>
    <script type="text/javascript">
        var user = {};
        var machineName = '';

        var numIconsPerReel = '';
        var windowID = '';
        $(document).ready(function () {
            getLastUser();
        })

        var getLastUser = function () {
            var url = "/api/scoreboard/lastuser";
            var settings = {
                cache: false
                , contentType: "application/x-www-form-urlencoded; charset=UTF-8"
                , dataType: "json"
                , success: function (response) {
                    console.log("get success");
                    user = response.Item;
                }
                , error: function (response) {
                    console.log("get error");
                }
                , type: "GET"
            };
            $.ajax(url, settings);
        }
    </script>
    <script type="text/javascript" src="~/js/soundmanager2.js"></script>
    <script type="text/javascript" src="~/js/slots.js"></script>

}