@model TestDirecTV.Models.SlotsViewModel
@{
    ViewBag.Title = "Index2";
}

<link type="text/css" rel="stylesheet" href="~/css/slots.css" />
<link type="text/css" rel="stylesheet" href="~/css/template2.css" />
<style>
    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }
</style>



<div class="container-fluid">
    <div class="col-sm-5 clearBackground">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        
        <center><img id="userImage" src="https://s3.us-east-2.amazonaws.com/webcam-photos/@Model.ImageNumber" /></center>
    </div>
    <div class="col-sm-5">
        <div id="PageContainer" style="background-size:cover; right: 100px;">
            <div id="PageContainerInner">
                @*<img id="userImage" src="https://s3.us-east-2.amazonaws.com/webcam-photos/@Model.ImageNumber" />*@
                <!-- Just to be able to set the "won!" extra background -->

                <div id="slotMachineContainer">

                    <div id="ReelContainer">
                        <div id="reel1" class="reel"></div>
                        <div id="reel2" class="reel"></div>
                        <div id="reel3" class="reel"></div>
                        <div id="reelOverlay"></div>
                    </div>

                    <div id="spinButton"></div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>

                @*<div id="soundOffButton"></div>*@
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />


            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui-1.8.17.custom.min.js"></script>
    <script type="text/javascript" src="~/js/soundmanager2.js"></script>
    <script type="text/javascript" src="~/js/slots.js"></script>
    <script type="text/javascript">
        var userId = @Model.UserId;
        var machineName = '';

        var numIconsPerReel = '';
        var windowID = '';


    </script>

}